{% extends 'base.html' %}
{% block title %}詳細{% endblock %}
{% block content %}
<h1>detail</h1>
<div class="container">
    <div class="alert alert-success" role="alert">
        <p>タイトル:{{tweet.title}}</p>
        <p>投稿者:{{tweet.user}}</p>
        <p>コメント:{{tweet.content}}</p>

        {% if tweet.user == request.user %}
        <a href="{% url 'tweets:delete' tweet.pk %}" class="btn btn-danger ms-3" tabindex="-1" role="button"
            aria-disabled="true">削除</a>
        {% endif %}
    </div>
</div>
{% endblock %}
